<div class='message-room-form'>
  <h1>メッセージルーム作成ページ</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='message-room-form__field'>
      <div class='message-room-form__field--left'>
        <%= f.label :ルーム名, class: 'message-room-form__label'%>
      </div>
      <div class='message-room-form__field--right'>
        <%= f.text_field :name, class: 'message__room_name message-room-form__input', placeholder: 'ルーム名を入力してください'%>
      </div>
    </div>
    <div class='message-room-form__field'>
    </div>
    <div class='message-room-form__field'>
      <div class='message-room-form__field--left'>
        <label class='message-room-form__label' for='message_room_チャットメンバー'>メッセージメンバー</label>
      </div>
      <div class='message-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">チャットするユーザーを選択してください</option>
           <% User.where.not(id: current_user.id).each do |user| %>
           <option value=<%=user.id%>><%= user.name %></option>
           <%#一旦この行削除%>
         <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
   
    <div class='message-room-form__field'>
      <div class='message-room-form__field--left'></div>
      <div class='message-room-form__field--right'>
        <%= f.submit class: 'message-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>