<%# メモの内容 %>
<div class="memo-show">
  <div class="memo-box">

    <div class='memo-category-show'>
      <h2 class="name">
        <%= @memo.category.name %>
      </h2>
    </div>

    <div class='memo-title-show'>
      <h2 class="name">
        <%= @memo.title %>
      </h2>
    </div>

    <div class='memo-img-content'>
      <%= image_tag @memo.image.variant(resize: '300x300') ,class:"memo-box-img" if @memo.image.attached? %>
    </div>

    <div class="item-explain-box">
      <span><%= @memo.text %></span>
    </div>
    
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥#{ @memo.amount }" %>
      </span>
    </div>

    <div class="item-explain-box">
      <span><%= @memo.store.name %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @memo.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">いつまでに</th>
          <td class="detail-value"><%= @memo.when.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# /メモの内容 %>

  <%= link_to 'メモの編集', edit_memo_path, method: :get, class: "item-red-btn" %>
  <%= link_to 'メモの削除', memo_path, method: :delete, class:'item-destroy' %>
</div>